yarnPath: ".yarn/releases/yarn-berry.js"

npmRegistries:
  //npm.pkg.github.com:
    npmAlwaysAuth: true
    npmAuthToken: "fff-fff"
npmScopes:
  harrypunk:
    npmRegistryServer: "https://npm.pkg.github.com"
  meevilabs:
    npmRegistryServer: "https://npm.pkg.github.com"
  platformbuilders:
    npmRegistryServer: "https://npm.pkg.github.com"
